[submodule "3rd/elog"]
	path = 3rd/elog
	url = https://github.com/lvshaco/elog.git
[submodule "3rd/lsocket"]
	path = 3rd/lsocket
	url = https://github.com/lvshaco/lsocket.git
[submodule "3rd/jemalloc"]
	path = 3rd/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
